* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}


.header_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}

.header_li {
    
    background-color: blueviolet;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding: 50px;
    gap: 30px;
}

.imagen {
    width: 130px;
    height: 160px;
    border-radius: 10px;
}

.educacion_li {
    width: 150px;
    margin: 0 auto;
}

.bio_p {
    padding-top: 30px;
    width: 400px;
    margin: 0 auto;
}